.App {
  text-align: center;
}
/* Style for the header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style for the body */
body{
 
 background-color: rgb(226, 208, 208);
 height: 100vh;
 color: black;
}
/*Style for all components */
.components{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style for the h1 */
.header{
  text-align: center;
}
